*.Rproj
.Rproj.user/9EEDD20/build_options
.Rproj.user/9EEDD20/sdb/s-B83CAB37/lock_file
*.dll
*.o
*.dll
*.Rbuildignore
.Rproj.user/872786DD/persistent-state
*.pper
.Rproj.user/872786DD/cpp-complilation-config
.Rproj.user/872786DD/sdb/s-C6C1EA2E/lock_file
.Rproj.user/872786DD/cpp-definition-cache
.Rproj.user/872786DD/build_options
.Rproj.user/872786DD/saved_source_markers
.Rproj.user/872786DD/sdb/s-B5ACD770/lock_file
*.RData
.Rhistory